<h1>All Machines selling <%= @snack.name %></h1>


<% @machines.each do |machine| %>
  <section id="machine-<%= machine.id %>">
    <p>Location: <%= machine.location %></p>
    <p>Average Price: <%= machine.average_price %></p>
    <p>Number of Snacks sold: <%= machine.total_snacks %></p>
  </section>
<% end %>
